<table id="data-table" class="display">
    <thead>
        <tr>
            {% for field in fields %}
                {% if field != 'id' %}  <!-- Исключаем столбец 'id' -->
                    <th>{{ field }}</th>
                {% endif %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
            <tr>
                {% for field in fields %}
                    {% if field != 'id' %}  <!-- Исключаем столбец 'id' -->
                        {% if field == 'artist.name' %}
                            <td>{{ row.artist.name }}</td>  <!-- Отображение имени исполнителя -->
                        {% else %}
                            <td>{{ getattr(row, field) }}</td>  <!-- Отображение других полей -->
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
